<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node+Express</title>
</head>
<body>
    <body>
    <h1> User Form </h1>

    <form action="/registerUser" method="post">
        <input type="text" name="name" placeholder="Enter your name"> <br><br>
        <input type="email" name="email" placeholder="Enter your email"><br><br>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>

    <a href="/view"><button>View Data</button></a>
</body>
</html>